name: CD
on:
  push:
    branches:
      - main
      - backport/*.*
    paths:
      - config/**
      - spack.yaml
jobs:
  cd:
    name: CD
    uses: access-nri/build-cd/.github/workflows/cd.yml@v4
    with:
      model: ${{ vars.NAME }}
    permissions:
      contents: write
      # Required because later workflows also handle on.pull_request trigger
      pull-requests: write
    secrets: inherit
