name: CI
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
      - converted_to_draft
      - ready_for_review
    branches:
      - main
      - dev
      - backport/*.*
    paths:
      - config/**
      - spack.yaml
jobs:
  pr-ci:
    name: CI
    if: github.event.action != 'closed'
    uses: access-nri/build-cd/.github/workflows/ci.yml@v8
    with:
      model: ${{ vars.NAME }}
      spack-manifest-schema-version: 2-0-0
      config-versions-schema-version: 4-0-0
      config-packages-schema-version: 1-0-0
    permissions:
      pull-requests: write
      contents: write
      statuses: write
    secrets: inherit
  pr-closed:
    name: Closed
    if: github.event.action == 'closed'
    uses: access-nri/build-cd/.github/workflows/ci-closed.yml@v8
    secrets: inherit
